<div class="container" [@flyInOut]="'in'">
    <form [formGroup]="form" (submit)="createAlbum()" class="shadow">
        <div class="form-group">
          <input type="text" formControlName="name" class="form-control" placeholder="Enter a nema for this album" required>
          <p *ngIf="form.get('name').invalid">You must provide album name.</p>
        </div>
        <div class="form-group">
          <textarea name="description" formControlName="description" class="form-control" cols="30" rows="10"></textarea>
        </div>
        <button type="submit" class="btn">Create Album</button>
      </form>
</div>

