.col-sm-3 {
    padding: 0;

    &:hover {
        cursor: pointer;
    }

    .card {
        padding: 0;
        border: none;
    
        .card-body {
            padding: 0;
    
            .img-box {
                position: relative;
                width: 100%;
                height: 180px;
                overflow: hidden;
    
                img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: -9999px;
                    bottom: -9999px;
                    left: -9999px;
                    right: -9999px;
                    margin: auto;
                }
    
            }
    
            .title {
                padding: 20px;
            }
        }
    }
}

.modal {   
        
    .container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background: #000;

        .controls {
            position: absolute;
            top: 40%;
            bottom: 40%;
            color: rgba(255, 255, 255, 0.6);
            font-size: 35px;

            &:hover {
                color: #fff;
                cursor: pointer;
            }
        }

        .prev {
            left: 20px;
        }

        .next {
            right: 20px;
        }

        .options {
            position: absolute;
            top: 20px;
            right: 10%;
            color: rgba(255, 255, 255, 0.6);
            font-size: 22px;

            &:hover {
                cursor: pointer;
                color: #fff;
            }
        }

        .edit {
            right: 5vh;
        }

        .delete {
            right: 0;
            background: transparent;
        }

        .close {
            position: absolute;
            top: 0;
            right: 10px;
            color: #fff;
            font-size: 30px;
        }

        .modal-dialog {
            margin: auto;
            height: 100%;
            background-attachment: local;
            background-repeat: no-repeat;
            background-size: auto;
            background-position: center;

            .d-flex {
                position: absolute;
                top: 0;
                background: rgba(0, 0, 0, 0.6);
                color: #fff;
                width: 100%;
                padding: 10px;
            }

            .title {
                position: absolute;
                bottom: 0;
                background: rgba(0, 0, 0, 0.6);
                color: #fff;
                width: 100%;
                padding: 10px;
            }
                
        }
    }

}